.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header ul {
  align-items: flex-start;
  list-style: none;
  margin: 0;
}


.header ul a {
  display: block;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover a {
  background-color: #444;
  color: #007053;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}